/****** CSS GLOBAL ******/

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  text-align: center;
  letter-spacing: 5px;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

/****** CLASSES GLOBAL ******/

.container {
  width: 80%;
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
}

/****** HEADER ******/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(img/detoxcuresmoothie.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 150px;
  padding-top: 20px;
  text-align: center;
  color: white;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

header img {
  width: 50%;
}

header nav ul li {
  display: inline-block;
  margin-left: 30px;
}

header h1 {
  padding-bottom: 50px;
  padding-top: 150px;
}

/****** SECTION NOTRE DEVISE ******/

#devise {
  display: flex;
  align-items: center;
}

#devise img {
  width: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#notreDevise {
  margin-left: 50px;
}

/****** SECTION FABRICATION ******/

.degrade {
  background: linear-gradient(#feb4c3, #f59e28);
  color: white;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.fab li {
  margin-top: 50px;
}

/****** SECTION CONCEPT ******/

#concepts {
  display: flex;
  text-align: center;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

#concepts article {
  width: 30%;
}

/****** FOOTER ******/

footer {
  background-color: #f59e28;
  color: white;
  text-align: center;
  font-size: 8px;
  padding: 5px;
  margin-top: 40px;
}

/***** MEDIA QUERIES *******/

/*************** RESPONSIVE MOBILE ***************/
/* css qui s'appliquera de 0px à 767px = MOBILE */

@media (max-width: 767px) {
  #devise {
    flex-direction: column;
  }
  #notreDevise {
    margin-left: 0;
  }

  #notreDevise p {
    text-align: center;
  }

  #concepts {
    flex-direction: column;
  }

  #concepts article {
    width: 100%;
  }

  header img {
    margin-right: 100px;
  }
}
