body {
  background-image: url(../img/background.jpg);
  background-size: cover;
}

.prest,
fieldset,
.btn {
  margin-left: 15px;
}

fieldset {
  margin-bottom: 10px;
  border: solid black 1px;
}

form .espaceLabel label {
  margin-right: 30px;
}

input {
  margin-bottom: 10px;
}

.btn {
  background-color: white;
}

.ital {
  font-style: italic;
  font-size: 10px;
}
